@import '../assets/colors';

.App {
  text-align: center;
}

.bottom-nav-bar {
  bottom: 0;
  position: fixed;
  background-color: $background-color;
  width: 100%;
  display: grid;
  grid: "a b c";
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 1000;
  box-shadow: 0 -4px 16px hsl(0deg 0% 0% / 0.38);

  // Material Font Settings
  font-size: 36px;
  font-variation-settings:
          'FILL' 0,
          'wght' 500,
          'GRAD' 0,
          'opsz' 20;

  a {
    color: $text-color;
    text-decoration: none;
    padding: 12px;
    justify-self: center;
    transition: 0.3s;

    &.active {
      font-variation-settings:
              'FILL' 1,
              'wght' 500,
              'GRAD' 200,
              'opsz' 20;
    }
  }
}

.banner {
  background-color: $good-color;
  position: fixed;
  z-index: 10000;
  top: 36px;
  left: 36px;
  right: 36px;
  border-radius: 16px;
  padding: 12px;
  transition: 0.4s ease-in-out;
  cursor: pointer;


  &.hidden {
    transform: translateY(-150px);
  }

  .banner-content {
    max-width: 400px;
    margin: auto;
  }

  h3, p {
    margin: 0;
    text-align: justify;
    text-align-last: center;
  }
}